.app {
  width: 100vw;
  height: 100vh;
  max-height: 820px;

  display: flex;
  padding: 20px;
  box-sizing: border-box;

  justify-content: space-evenly;
  align-items: stretch;
}

.app main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
  flex: 0 3 1290px;
}

.app section {
  margin-left: 10px;
  flex: 0 1 360px;
}
 
.drawing-canvas {
  /* tools 40+10px, border 5+5px */
  /* display: flex; */
  max-height: calc(100% - 60px);
  background-color: var(--canvas);
  border: 5px dashed var(--border);
  border-radius: 20px;
  aspect-ratio: auto 1280/720;
}

.drawing-canvas canvas {
  flex: 1;
  max-height: 100%;
  max-width: 100%;
}

.drawing-tool {
  display: flex;
  width: 100%;
  flex: 0 0 40px;
  justify-content: space-between;
  margin-top: 10px;
}

.drawing-tool > div {
  display: flex;
  align-items: center;
}

.pipe {
  height: 16px;
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid var(--border);
}

.tool-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: #fff4;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color .1s ease-in-out;
}

.tool-btn:hover {
  background-color: #fffa;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;
  border: 0;
  border-radius: 8px;

  background-color: var(--stress-1);
  color: var(--stress-inside);
  cursor: pointer;

  transition: background-color .1s ease-in-out;
}

button:hover {
  background-color: var(--stress-2);
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
}
